.general-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 239, 239); 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
}

.display-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 65%;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-component{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    min-width: 350px;
}

.line{
    display: flex;
    flex-direction: row;
    margin: 10px 15px 0px 20px;
}

.icon{
    cursor: pointer;
}

.display-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
