<div id="diagram-container">
    <div class="output-container">
        <p class="title">print output</p>
        <p id="output" [innerHTML] = "print">
        </p>
    </div>
    <div class="variables">
        @for (context of contextsKeys; track $index) {
            <div class="context">
                <p class="title">{{ context.name }}</p>
                @for (variable of getVariableKeys(context); track $index) {
                    <div class="variable">
                        <p class="variable-name">{{ variable }}:</p>
                        <p class="variable-value">{{ contexts.get(context)[variable] }}</p>
                    </div>
                }
            </div>
        }
    </div>
</div>