#editor-container {
    height: 300px;
}

#editor {
    height: 400px;
    width: 100%;
  }
  
  #variable-info {
    margin-top: 20px;
  }
  
  #variable-details {
    background: #2d2d2d;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }
  