<div class="general-container">
    <div class="inputs-container">
        @for (select of inputs; track $index) {
            <mat-form-field >
                <mat-label>{{select.name}}</mat-label>
                <mat-select [formControl]="forms[$index].form" panelClass="dropDown-seasons-panel">
                    <mat-option *ngFor="let option of select.options" [value]="option" >{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        }
    </div>
    
    <div id="editor-container">
        <!-- Editor de código -->
    </div>
    
    <div class="buttons-container">
        <mat-icon class="icon" [class]="isRunning && !isPaused? 'disabled': ''" aria-hidden="false" aria-label="previous-arrow" fontIcon="arrow_back_ios" (click)="(!isRunning || isPaused) && previousLine()"></mat-icon>
        <mat-icon class="icon" [class]="isRunning && !isPaused? 'disabled': ''" aria-hidden="false" aria-label="next-arrow" fontIcon="arrow_forward_ios" (click)="(!isRunning || isPaused) && nextLine($event)"></mat-icon>
        <mat-icon class="icon" [class]="isRunning && !isPaused? 'disabled': ''" aria-hidden="false" aria-label="play" fontIcon="play_arrow" (click)="(!isRunning || isPaused) && play()"></mat-icon>
        <mat-icon class="icon" [class]="isPaused? 'disabled': ''" aria-hidden="false" aria-label="pause" fontIcon="pause" (click)="!isPaused && pause()"></mat-icon>
            
        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger class="velocity-button" [disabled]="isRunning && !isPaused">Velocidad</button>
        <mat-menu #menu="matMenu">
            @for (velocity of velocities; track $index) {
                <mat-label mat-menu-item (click)="setVelocity(velocity)">{{velocity}}</mat-label>
            }
        </mat-menu>

        <mat-icon class="execution-info" [class]="isFinished? 'finished': 'executing'" aria-hidden="false" aria-label="checked" fontIcon="check_circle_outline"></mat-icon>
    </div>
    
</div>
