<div class="general-container">
    <div class="inputs-container">
        @for (select of inputs; track $index) {
            <mat-form-field >
                <mat-label>{{select.name}}</mat-label>
                <mat-select [formControl]="forms[$index].form" panelClass="dropDown-seasons-panel">
                    <mat-option *ngFor="let option of select.options" [value]="option" >{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            
        }
        <button mat-button (click)="loadSelects()">Load</button>
    </div>
    
    <div id="editor-container">
        <!-- Editor de código -->
    </div>
    
    <div class="buttons-container">
        <mat-icon class="icon" aria-hidden="false" aria-label="right-arrow" fontIcon="arrow_back_ios" (click)="previousLine()"></mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="right-arrow" fontIcon="arrow_forward_ios" (click)="nextLine()"></mat-icon>
    </div>
    
</div>