<h2 mat-dialog-title>Ayuda</h2>
<mat-dialog-content>
  <h3>
    {{"Pylab es una aplicación dedicada al entendimiento de conceptos fundamentales de la programación. Cada sección explorará un contenido distinto utilizando programas que representen casos de uso típicos. Estos programas estarán desarrollados en Python, y algunos tendrán la posibilidad de seleccionar una o más entradas, ilustrando así un flujo determinado."}}
  </h3>
  <br>
  <h3>
    {{"Una vez elegido el programa, se mostrará el código del mismo en un recuadro principal. Se podrá navegar por las distintas líneas utilizando los íconos de flecha < >. También habrá un recuadro secundario que que contendrá una explicación en forma de comentarios para cada parte del código."}}
  </h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>
