<div class="general-container">
        <h1>
            Programa 1
        </h1>
    <div class="display-container">
        <div class="display-component">
            <app-code-view [inputs]="inputs" [code]="code" [language]="'python'" [highlightLine]="highlightLine"  (variablesChanged)="onVariablesChanged($event)"></app-code-view>
        </div>
        <div class="display-component">
            <div style="height: 75%" class="inner-container">
                <app-variable-view [variables]="variables"></app-variable-view>
            </div>
            <div style="height: 25%" class="inner-container">
                
            </div>
        </div>
        <!-- <div class="display-component">
            <div *ngFor="let desc of code_descriptions; let i=index" class="display-content">
                <div *ngIf="index_pointer == i" class="line">
                    <label>{{desc}}</label>
                </div>
            </div>
        </div> -->
        <!-- <div class="display-component">
            <div *ngFor="let desc of text_descriptions; let i=index" class="display-content">
                <div *ngIf="index_pointer == i" class="line">
                    <label>{{desc}}</label>
                </div>
            </div>
        </div> -->
    </div>
    <div class="buttons-container">
        <mat-icon class="icon" aria-hidden="false" aria-label="right-arrow" fontIcon="arrow_back_ios" (click)="previousLine()"></mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="right-arrow" fontIcon="arrow_forward_ios" (click)="nextLine()"></mat-icon>
    </div>
</div>

