<div class="general-container">
        <h1>
            Programa 1
        </h1>
    <div class="display-container">
        <div class="display-component">
            <app-code-view [inputs]="inputs" [code]="code" [language]="'python'" [highlightLine]="highlightLine"  (variablesChanged)="onVariablesChanged($event)"></app-code-view>
        </div>
        <div class="display-component">
            <div style="height: 75%" class="inner-container">
                <app-variable-view [variables]="variables"></app-variable-view>
            </div>
            <div style="height: 25%" class="inner-container">
                
            </div>
        </div>
    </div>
</div>

