.display-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    min-height: 65%;
}

h1 {
    margin: 15px;
    color: var(--pylab-accent);
}
.myLineDecoration {
    background-color: yellow !important
}

.display-component {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    min-width: 700px;
    margin: 10px;
    padding: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    margin: 10px 15px 0px 20px;
}

.icon {
    cursor: pointer;
}

.display-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}